mixin event(item)
	.event(class='event-#{item.type}')
		if item.type == 'event'
			- var eventClass = 'content ' + (item.event.image.url ? 'content-image ' : '')
			- if (item.event.image.url) { if (item.event.imagePosition == 'bottom') { eventClass += 'content-image-bottom '; } else { eventClass += 'content-image-top '; }}
			div(class=eventClass)
				p.type Events
				p.tag= item.event.tag
				p.text= item.event.text
		else if item.type == 'news'
			- var eventClass = 'content ' + (item.news.image.url ? 'content-image ' : '')
			- if (item.news.image.url) { if (item.news.imagePosition == 'bottom') { eventClass += 'content-image-bottom '; } else { eventClass += 'content-image-top '; }}
			div(class=eventClass)
				p.type News
				p.tag= item.news.tag
				p.text= item.news.text
		else if item.type == 'funding'
			.content
				p.type= item.funding.fundingTarget + ' funding'
				p.tag= item.funding.tag
				p.text= item.funding.cost

		if item.event
			if item.event.image.url
				.image(style="background-image: url(#{item.event.image.url})")
		if item.news
			if item.news.image.url
				.image(style="background-image: url(#{item.news.image.url})")
