extends ../../../node_modules/keystone/templates/layout/base

include ../../../node_modules/keystone/templates/mixins/columns

block css
	link(rel="stylesheet", href="/keystone/js/lib/fancybox/jquery.fancybox.css")
	if list.fieldTypes.markdown
		link(rel="stylesheet", href="/keystone/js/lib/bootstrap-markdown/css/bootstrap-markdown.css")
	if list.fieldTypes.code
		link(rel="stylesheet", href="/keystone/js/lib/codemirror/codemirror.css")

	//- Horrible inline CSS for now
	style.
		.page-children {
			list-style: none;

			padding: 12px 18px;
		}

		.page-children li {
			margin-bottom: 6px;
		}

		.create-page form {
			margin-top: 10px;
		}


block js
	script(src="/keystone/js/common/ui-fixed-toolbar.js")
	script(src="/keystone/js/lib/joseph-myers/md5.js")
	script(src="/keystone/js/lib/fancybox/jquery.fancybox.pack.js")
	script(src="/keystone/js/lib/html5sortable/jquery.sortable.js")
	if list.fieldTypes.location
		script(src="/keystone/js/common/ui-location.js")
	if list.fieldTypes.cloudinaryimage
		script(src="/keystone/js/common/ui-cloudinaryimage.js")
	if list.fieldTypes.cloudinaryimages
		script(src="/keystone/js/common/ui-cloudinaryimages.js")
	if list.fieldTypes.s3file
		script(src="/keystone/js/common/ui-s3file.js")
	if list.fieldTypes.azurefile
		script(src="/keystone/js/common/ui-azurefile.js")
	if list.fieldTypes.localfile
		script(src="/keystone/js/common/ui-localfile.js")
	if list.fieldTypes.markdown
		script(src='/keystone/js/lib/marked/marked.js')
		script(src='/keystone/js/lib/bootstrap-markdown/js/bootstrap-markdown.js')
		script(src="/keystone/js/common/ui-markdown.js")
	if list.fieldTypes.code
		script(src="/keystone/js/common/ui-code.js")
		script(src='/keystone/js/lib/codemirror/codemirror-compressed.js')
	if list.fieldTypes.wysiwyg
		script(src='/keystone/js/lib/tinymce/tinymce.min.js')
		script(src='/keystone/js/lib/tinymce/jquery.tinymce.min.js')
		script(src="/keystone/js/common/ui-wysiwyg.js")
	
	script(src='/keystone/js/views/item.js')
	script.
		Keystone.list = { path: "#{list.path}" };
		Keystone.item = { id: "#{item.id}" };
		Keystone.wysiwyg = { options: !{JSON.stringify(wysiwygOptions)} };

	//- Horrible inline JS for now
	script(type="text/javascript").
		$('.btn-create-item').click(function(){
			var $form = $(this).closest('form');
			$form.find('.form').show();
			$form.find('.toolbar-default').hide();
			$form.find('.toolbar-create').show();
			$form.find('input[type=text]').first().focus();
		});


block intro
	.page-header.item-header: .row
		.col-sm-6
			if pagePath.length > 0
				.btn-companion.breadcrumb-wrapper: ul.breadcrumb
					each page in pagePath
						li: a(href=page.href, data-toggle='tooltip', data-placement='top')= page.title

block content
	.field.item-name: .col-sm-12
			h2.form-heading.name-value= item.get('page.title') || '(no name)'
			ul.page-children
				each page in pageChildren
					li: a(href=page.href, data-toggle='tooltip', data-placement='top')= page.title
				li.create-item.create-page
					form(method='post', action='/keystone/page-create/')
						input(type='hidden', name='action', value='add')
						input(type='hidden', name='parent', value=item.id)
						input(type='hidden', name=csrf_token_key, value=csrf_token_value)
						.form
							h4 Page Type
							select(name="pageType").ui-select2
								each pageType in pageTypes
									option(value=pageType.key)= pageType.label
						.toolbar
							.toolbar-create
								button(type='submit').btn.btn-default.btn-create Add
								a(href=js).btn.btn-link.btn-cancel.btn-cancel-create-item cancel
							.toolbar-default
								a(href=js, class=(showCreateForm ? 'autoclick' : null)).btn.btn-default.btn-create.btn-create-item
									span.ion-plus-round
									|  Add subpage

	form(method='post', enctype='multipart/form-data')
		
		input(type='hidden', name='action', value='updateItem')
		input(type='hidden', name=csrf_token_key, value=csrf_token_value)

		each el in list.uiElements
			if el.type == 'field'
				if !el.field.hidden
					!= el.field.render('form', item, fieldLocals)
			else if el.type == 'heading'
				h3.form-heading(data-field-depends-on=el.options.dependsOn)= el.heading
			else if el.type == 'indent'
				| <div class="form-indent">
			else if el.type == 'outdent'
				| </div>
		
		.toolbar.toolbar-fixed
			if !list.get('noedit')
				button(type='submit').btn.btn-default.btn-save Save
				a(href='/keystone/' + list.path + '/' + item.id, data-confirm='Are you sure you want to reset your changes?').btn.btn-link.btn-cancel reset changes
			if !list.get('nodelete')
				a(href='/keystone/' + list.path + '?delete=' + item.id + csrf_query, data-confirm='Are you sure you want to delete this ' + list.singular.toLowerCase() + '?').btn.btn-link.btn-cancel delete #{list.singular.toLowerCase()}
